*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; }

html {
  background-color: #000;
  color: #676767;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }

body {
  width: 64em;
  margin: 0;
  padding: 0;
  display: block;
  height: 45em; }

a {
  text-decoration: none;
  color: #676767; }

a:hover {
  color: #3399FF; }

#top-container,
#bottom-container {
  width: 100%; }

#header {
  height: 2em;
  padding: 0.4em 1em;
  position: relative;
  width: 100%; }
  #header span.monkey-header {
    color: #7d277e;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2em;
    top: 0;
    left: 0;
    text-align: center;
    z-index: -1; }
  #header img {
    border: 1px solid #cdcdcd;
    cursor: pointer;
    float: right;
    margin-left: 3px;
    padding: 1px; }
    #header img.active {
      border-color: #008800; }

#top-container {
  height: 30em; }
  #top-container > div {
    border-right: 1px solid #3399FF; }
  #top-container > div:last-child {
    border-right: 0; }
  #top-container #top-left-container,
  #top-container #top-right-container {
    height: 100%;
    float: left; }
  #top-container #top-left-container {
    width: 48em;
    padding: 15px;
    position: relative; }
    #top-container #top-left-container .scumm-background {
      background: transparent url("../img/monkeybackground.png");
      background-size: cover;
      position: absolute;
      display: block;
      opacity: 0.4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    #top-container #top-left-container #add {
      border-top: 1px solid #3399FF;
      display: block;
      margin-top: 15px;
      padding-top: 15px;
      padding-bottom: 10px;
      width: 100%; }
      #top-container #top-left-container #add #add-descriptions {
        position: relative;
        float: left;
        width: 15%; }
        #top-container #top-left-container #add #add-descriptions span {
          display: block;
          font-size: .9em;
          line-height: 25px;
          width: 100%; }
      #top-container #top-left-container #add #add-values {
        position: relative;
        width: 85%;
        float: left; }
        #top-container #top-left-container #add #add-values input {
          display: block;
          height: 25px;
          width: 100%;
          padding-left: 5px;
          padding-right: 5px; }
          #top-container #top-left-container #add #add-values input.input-datetime {
            width: 100px; }
        #top-container #top-left-container #add #add-values button {
          float: right;
          margin-left: 10px;
          -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
          -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
          box-shadow: 0px 1px 0px 0px #f0f7fa;
          background-color: #3399ff;
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          border: 1px solid #057fd0;
          display: inline-block;
          cursor: pointer;
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;
          padding: 6px 24px;
          text-decoration: none;
          text-shadow: 0px -1px 0px #5b6178; }
          #top-container #top-left-container #add #add-values button:hover {
            background-color: #277bcf; }
  #top-container #top-right-container {
    background: transparent url("../img/old-paper.jpg");
    background-size: cover;
    display: block;
    width: 16em; }
    #top-container #top-right-container table {
      width: 100%;
      table-layout: fixed; }
      #top-container #top-right-container table td:first-child, #top-container #top-right-container table th:first-child {
        border-left: 0;
        width: 25px; }
      #top-container #top-right-container table td, #top-container #top-right-container table th {
        border: 1px solid #3399FF;
        padding-left: 10px;
        padding-right: 10px; }
      #top-container #top-right-container table td {
        line-height: 30px; }
      #top-container #top-right-container table td:last-child, #top-container #top-right-container table tr:last-child {
        border-right: 0; }
      #top-container #top-right-container table tr.task td:first-child {
        background: transparent url("../img/task-icon.png") center center no-repeat;
        background-size: 20px 20px; }
      #top-container #top-right-container table tr.appointment td:first-child {
        background: transparent url("../img/appointment-icon-1.jpg") center center no-repeat;
        background-size: 20px 20px; }

#bottom-container {
  height: 300px; }
  #bottom-container #notes {
    height: 100%;
    width: 70%; }
    #bottom-container #notes textarea {
      border: 0;
      border-right: 1px solid #3399FF;
      height: 100%;
      resize: none;
      width: 100%; }

#scumm {
  cursor: crosshair;
  display: block;
  font-family: Tahoma, Geneva, sans-serif;
  height: 11em; }
  #scumm #scumm-message {
    color: #7d277e;
    font-weight: bold;
    height: 2em;
    text-align: center;
    width: 100%; }
  #scumm #scumm-controls,
  #scumm #scumm-arrows,
  #scumm #scumm-inventory {
    height: 9em;
    float: left; }
  #scumm #scumm-controls {
    width: 34em; }
    #scumm #scumm-controls .scumm-button {
      border: 2px solid black;
      background-color: #110010;
      color: #7d277e;
      display: inline-block;
      font-size: 1.5em;
      height: 2em;
      line-height: 2em;
      margin-right: -4px;
      text-align: center;
      text-shadow: 2px 1px 0 #490051;
      width: 33%; }
      #scumm #scumm-controls .scumm-button:hover {
        color: #d658d3; }
  #scumm #scumm-arrows {
    width: 2em; }
    #scumm #scumm-arrows #scumm-arrow-up,
    #scumm #scumm-arrows #scumm-arrow-down {
      border: 2px solid black;
      display: block;
      background-color: #110010;
      width: 100%;
      height: 50%; }
      #scumm #scumm-arrows #scumm-arrow-up:hover,
      #scumm #scumm-arrows #scumm-arrow-down:hover {
        background-color: #490051; }
  #scumm #scumm-inventory {
    position: relative;
    width: 28em; }
    #scumm #scumm-inventory .scumm-inv-item {
      border: 2px solid black;
      display: inline-block;
      margin-right: -4px;
      background-color: #110010;
      width: 25%;
      height: 50%;
      background-size: 2.5em;
      background-repeat: no-repeat;
      background-position: center; }
      #scumm #scumm-inventory .scumm-inv-item:hover {
        background-color: #490051; }
      #scumm #scumm-inventory .scumm-inv-item.appointment {
        background-image: url("../img/calendar.png"); }
      #scumm #scumm-inventory .scumm-inv-item.location {
        background-image: url("../img/location-pointer.png"); }
      #scumm #scumm-inventory .scumm-inv-item.note {
        background-image: url("../img/file.png"); }
      #scumm #scumm-inventory .scumm-inv-item.person {
        background-image: url("../img/user.png"); }

/*# sourceMappingURL=layout.css.map */
