$black5: 							#f2f2f2;
$black10: 						#e6e6e6;
$black20: 						#cdcdcd;
$black60: 						#676767;
$black80: 						#323232;

$black1: #eeeeee;
$black2: #dddddd;

$darabcolor: #3399FF;
$darabcolordark: #277bcf;
$bordercolor: #3399FF;
$boxshadowcolor: #3399FF;

$stdfontcolor: $black60;
$activegreen: #008800;

$background: #000;
$control-text: #7d277e;
$control-background: #110010;
$control-text-hover: #d658d3;
$control-text-shadow: #490051;


// Sizes
$body-width: 100em;
$control-width: 7em;
$control-height: 3em;

*, *:before, *:after {
	-webkit-box-sizing  : border-box;
	-moz-box-sizing			: border-box;
	box-sizing					: border-box;
	font-family: Helvetica, Arial, sans-serif;

}

html {
	background-color: $background;
	color: $stdfontcolor;
  font-size: 14px;
  height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
  width: 100%;
}

body {
	width: 64em;
	margin: 0;
	padding: 0;
	display: block;
	height: 45em;
	//padding: 10px 40px 40px 40px;
}

a {
	text-decoration: none;
	color: $stdfontcolor;
}

a:hover  {
	color: $darabcolor;
}

#top-container,
#bottom-container {
	width: 100%;
}

$headerbackground: #fff;
#header {
	height: 2em;
	padding: 0.4em 1em;
	position: relative;
	width: 100%;

	span.monkey-header {
		color: $control-text;
		font-weight: bold;
		position: absolute;
		width: 100%;
		height: 100%;
		line-height: 2em;
		top: 0;
		left: 0;
		text-align: center;
		z-index: -1;
	}

	img {
		border: 1px solid $black20;
		cursor: pointer;
		float: right;
		margin-left: 3px;
		padding: 1px;

		&.active {
			border-color: $activegreen;
		}
	}
}

#top-container {
	height: 30em;

	> div {
		border-right: 1px solid $bordercolor;
	}

	> div:last-child {
		border-right: 0;
	}

	#top-left-container,
	#top-right-container {
		height: 100%;
		float: left;

	}
	#top-left-container {
		//background: transparent url('../img/monkeybackground.png');
		//background-size: cover;
		width: 48em;
		padding: 15px;
		position: relative;

		.scumm-background {
			background: transparent url('../img/monkeybackground.png');
			background-size: cover;
			position: absolute;
			display: block;
			opacity: 0.4;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		#add {
			border-top: 1px solid $bordercolor;
			display: block;
			margin-top: 15px;
			padding-top: 15px;
			padding-bottom: 10px;
			width: 100%;

			#add-descriptions {
				position: relative;
				float: left;
				width: 15%;
				span {
					display: block;
					font-size: .9em;
					line-height: 25px;
					width: 100%;
				}
			}

			#add-values {
				position: relative;
				width: 85%;
				float: left;
				input {
					display: block;
					height: 25px;
					width: 100%;
					padding-left: 5px;
					padding-right: 5px;
					&.input-datetime {
						width: 100px;
					}
				}
				button {
					float: right;
					margin-left: 10px;
					-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
					-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
					box-shadow: 0px 1px 0px 0px #f0f7fa;
					background-color:#3399ff;
					-moz-border-radius:6px;
					-webkit-border-radius:6px;
					border-radius:6px;
					border:1px solid #057fd0;
					display:inline-block;
					cursor:pointer;
					color:#ffffff;
					//font-family:Arial;
					font-size:15px;
					font-weight:bold;
					padding:6px 24px;
					text-decoration:none;
					text-shadow:0px -1px 0px #5b6178;
					&:hover {
						background-color:$darabcolordark;
					}
				}
			}
		}
	}

	#top-right-container {
		background: transparent url('../img/old-paper.jpg');
		background-size: cover;
		display: block;
		width: 16em;

		table {
			width: 100%;
			table-layout: fixed;
			td:first-child, th:first-child {
				border-left: 0;
				width: 25px;
			}
			td, th {
				border: 1px solid $bordercolor;
				padding-left: 10px;
				padding-right: 10px;
			}
			td {
				line-height: 30px;
			}
			td:last-child, tr:last-child {
				border-right: 0;
			}
			tr.task {
				td:first-child {
					background: transparent url('../img/task-icon.png') center center no-repeat;
					background-size: 20px 20px;
				}
			}

			tr.appointment {
				td:first-child {
					background: transparent url('../img/appointment-icon-1.jpg') center center no-repeat;
					background-size: 20px 20px;
				}
			}
		}
	}
}
#bottom-container {
	height: 300px;

	#notes {
		height: 100%;
		width: 70%;

		textarea {
			border: 0;
			border-right: 1px solid $bordercolor;
			height: 100%;
			resize: none;
			width: 100%;
		}
	}
}

#scumm {
  cursor: crosshair;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
  height: 11em;

	#scumm-message {
		color: $control-text;
    font-weight: bold;
		height: 2em;
		text-align: center;
		width: 100%
	}

	#scumm-controls,
	#scumm-arrows,
	#scumm-inventory {
		height: 9em;
		float: left;
	}
  #scumm-controls {
    width: 34em;

    .scumm-button {
			border: 2px solid black;
			background-color: $control-background;
      color: $control-text;
      display: inline-block;
      font-size: 1.5em;
      height: 2em;
      line-height: 2em;
			margin-right: -4px; //2px 0px;
      text-align: center;
      text-shadow: 2px 1px 0 $control-text-shadow;
      width: 33%;

      &:hover {
        color: $control-text-hover;
      }
    }
  }

	#scumm-arrows {
    width: 2em;

		#scumm-arrow-up,
		#scumm-arrow-down {
			border: 2px solid black;
			display: block;
			background-color: $control-background;
			width: 100%;
			height: 50%;

			&:hover {
				background-color: $control-text-shadow;
			}
		}
	}

  #scumm-inventory {
    position: relative;
    width: 28em;

		.scumm-inv-item {
			border: 2px solid black;
			display: inline-block;
			margin-right: -4px;
			background-color: $control-background;
			width: 25%;
			height: 50%;
			background-size: 2.5em;
			background-repeat: no-repeat;
			background-position: center;

			&:hover {
				background-color: $control-text-shadow;
			}

			&.appointment {
				background-image: url('../img/calendar.png')
			}
			&.location {
				background-image: url('../img/location-pointer.png')
			}
			&.note {
				background-image: url('../img/file.png')
			}
			&.person {
				background-image: url('../img/user.png')
			}
		}
  }
}
