<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Terminverwaltung</title>
  <link rel="stylesheet" href="./css/layout.css" type="text/css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#top-toggle').click(function(evt) {
        $('#top-container').toggleClass("with-connections");
      });
    });
  </script>
  <!-- 3rd party stylings -->
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="./css/jquery-ui.min.css">
  <!-- JQuery -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./js/jquery-ui.min.js"></script>
  <!-- Angular UI -->
  <script type="text/javascript" src="./typescript/lib/angular.min.js"></script>
	<script type="text/javascript" src="./typescript/lib/angular-route.min.js"></script>
	<script type="text/javascript" src="./typescript/lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="./typescript/lib/angular-animate.min.js"></script>
  <!-- angular-ui-calendar -->
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  <script src="./js/calendar.js"></script>
  <!-- Custom -->
  <script src="./typescript/controller/AppCtrl.js"></script>
	<script src="./typescript/app.js"></script>
  <script>
  $(function() {
    $( "#datepicker-start" ).datepicker();
    $( "#datepicker-end" ).datepicker();
  });
  </script>
</head>
<body ng-app="confApp">
  <div id="tv-darab" ng-controller="AppCtrl">
    <div id="header">
      <span class="monkey-header">Monkey Ical</span>
      <a href=""><span>Login</span></a>
      <img src="img/flags/Germany.png" ng-click="Lang='de'" ng-class="{'active': Lang=='de'}"/>
      <img src="img/flags/United_Kingdom.png" ng-click="Lang='en'" ng-class="{'active': Lang=='en'}"/>
    </div>
    <div id="top-container" class="with-connections">
      <div id="top-left-container">
        <div class="scumm-background"></div>
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        <!--div id="add">
          <div id="add-descriptions">
            <span>Betreff</span>
            <span>Ort</span>
            <span>Start</span>
            <span>Ende</span>
          </div>
          <div id="add-values">
            <input type="text" ng-model="add.subject"/>
            <input type="text" ng-model="add.location"/>
            <input type="text" class="input-datetime" id="datepicker-start">
            <input type="text" class="input-datetime" id="datepicker-end">
            <button>{{ language[Lang]['add-as-appointment'] }}</button>
            <button>{{ language[Lang]['add-as-task'] }}</button>
          </div>
        </div-->
      </div>
      <div id="top-right-container">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <th></th>
            <th>Name</th>
            <th>ID</th>
          </tr>
          <tr class="task" title="{{ language[Lang]['task'] }}">
            <td></td>
            <td>muster</td>
            <td>0</td>
          </tr>
          <tr class="appointment" title="{{ language[Lang]['appointment'] }}">
            <td></td>
            <td>muster</td>
            <td>0</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="scumm">
      <div id="scumm-message">{{ message }}</div>
      <div id="scumm-controls">
        <div class="scumm-button" ng-click="setScumm('create')">{{ language[Lang]['Create'] }}</div>
        <div class="scumm-button" ng-click="setScumm('duplicate')">{{ language[Lang]['Duplicate'] }}</div>
        <div class="scumm-button" ng-click="setScumm('delete')">{{ language[Lang]['Delete'] }}</div>
        <div class="scumm-button" ng-click="setScumm('move')">{{ language[Lang]['Move'] }}</div>
        <div class="scumm-button" ng-click="setScumm('open')">{{ language[Lang]['Open'] }}</div>
        <div class="scumm-button">&nbsp;</div>
        <div class="scumm-button">&nbsp;</div>
        <div class="scumm-button">&nbsp;</div>
        <div class="scumm-button">&nbsp;</div>
      </div>
      <div id="scumm-arrows">
        <div id="scumm-arrow-up"></div>
        <div id="scumm-arrow-down"></div>
      </div>
      <div id="scumm-inventory">
        <div class="scumm-inv-item appointment" ng-mouseenter="setTarget('appointment')" ng-mouseleave="setTarget('')">&nbsp;</div>
        <div class="scumm-inv-item person" ng-mouseenter="setTarget('person')" ng-mouseleave="setTarget('')">&nbsp;</div>
        <div class="scumm-inv-item location" ng-mouseenter="setTarget('location')" ng-mouseleave="setTarget('')">&nbsp;</div>
        <div class="scumm-inv-item note" ng-mouseenter="setTarget('note')" ng-mouseleave="setTarget('')">&nbsp;</div>
        <div class="scumm-inv-item">&nbsp;</div>
        <div class="scumm-inv-item">&nbsp;</div>
        <div class="scumm-inv-item">&nbsp;</div>
        <div class="scumm-inv-item">&nbsp;</div>
      </div>
    </div>
  </div>
</body>
</html>
